.top-earrow-icone {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F26F32;
    color: white;
    cursor: pointer;
    z-index: 1000;
    border: none;
    box-shadow: 0 2px 8px rgba(65, 65, 65, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect: outer border appears with animation */
.top-earrow-icone:hover {
    transform: scale(1.15);
    background-color: #ff712b;
    box-shadow:
        0 0 0 6px rgb(230, 211, 192),
        0 4px 12px rgba(0, 0, 0, 0.25);
}

@keyframes pulse-ring {
    0% {
        box-shadow: 0 0 0 0 rgba(213, 113, 20, 0.6);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(219, 212, 212, 0);
    }

    120% {
        box-shadow: 0 0 0 0 rgba(238, 233, 227, 0);
    }
}

.top-earrow-icone:hover {
    animation: pulse-ring 1s ease-out;
}

@media(max-width:900px) {
    .top-earrow-icone {
        
    }
}